form{border:1px solid #808080;
width: 250px;
margin: 10% auto ; 
text-align: center;
border-radius: 30px;
background-image:linear-gradient(to top ,	#DCDCDC,#FFFFFF );
padding: 5px;
}

#ok{margin: 5px;
background-image:linear-gradient(to top,#808080,#DCDCDC );
width: 100px;
height: 30px;
border-radius: 5px ;
}

.link{margin:0px;
	width: 32.7%;
	height: 97%;
background-image:linear-gradient(to top,#808080,#DCDCDC );
}
.link:hover{background-image:linear-gradient(to top,#DCDCDC,#808080 );}
.menu{height: 40px;
	width: 70%;
	border:1px solid #4B0082;
	margin: 10px auto;
border-radius: 5px ;
background-image:linear-gradient(to top,#808080,#DCDCDC );

}
.exit{
margin: 10px;
background-image:linear-gradient(to top,#808080,#DCDCDC );
}
.exit:hover{background-image:linear-gradient(to top,#DCDCDC,#808080 );}
#ok:hover{background-image:linear-gradient(to top,#DCDCDC,#808080 );}